*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: 200;
    
}

#Main-banner{
/* make text in div appropriate for all viewports */
    width: 100%;
    background-color: red;
    /* height: 7vh; */
    text-align: center;
    justify-content: center;
    
    
}
#Main-banner>p{
    margin: 0px;
    padding: 0px;
}
#Main-logo{
    
}

.carousel-inner{
    /* make imgs and corresel responsive and not random length */
    /* border-top: 2px solid black; */
    /* height: 50vh; */
    object-fit: cover;
}
#EOS-Container{
    border-top: 2px solid lightgrey;
    overflow: auto;

}
#EOS{
    
    text-align: center;
    color: #126bc5;
    font-weight: 200;
}
.EOS-PRODUCT{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
}
.EOS-PRODUCT img{
    width: 70px;
    height: 70px;
    margin-bottom: 1rem;
}


#Main-ContactUs{
    color: #126bc5;
    font-weight: 200;
}
#Main-Contact-Form{
    border-top: 2px solid grey;
    text-align: center;
    /* height: 30vh; */
    font-weight: 200;
    background-color: rgb(223, 223, 223);
    
}
#nm,#em{
    margin: 2.5px;
    width: 50%;
    
}
#message{
    margin: 2px;
    width: 50%;
}
#submit{
    margin-top: 0px;
    margin-bottom: 2px;
    width: 15%;
    border-radius: 5%;
    color: #126bc5;
   
}
#formstatus-container{
   margin: 0;
   padding: 0;
   
}






#Main-footer{
    border-top: 2px solid grey;
    /* height: 20vh; */
   
    
    
    
}
#Main-footer-slogan{
    color: #126bc5;
    text-align: center;
    font-weight: 200;
}

@media (max-width: 619px) {
    #Main-footer-slogan{
        color: #126bc5;
        text-align: center;
        font-size: 0.9rem;
        font-weight: 200;
    }
}
@media (max-width: 555px) {
    #Main-footer-slogan{
        color: #126bc5;
        text-align: center;
        font-size: 0.8rem;
        font-weight: 200;
    }
}
@media (max-width: 493px) {
    #Main-footer-slogan{
        color: #126bc5;
        text-align: center;
        font-size: 0.7rem;
        font-weight: 200;
        
    }
}
@media (max-width: 431px) {
    #Main-footer-slogan{
        color: #126bc5;
        text-align: center;
        font-size: 0.6rem;
        font-weight: 200;
        
    }
}
@media (max-width: 369px) {
    #Main-footer-slogan{
        color: #126bc5;
        text-align: center;
        font-size: 0.5rem;
        font-weight: 200;
        
    }
}
#Main-Footer-ul {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        padding: 0;
        margin: 0;
        list-style: none;
        text-align: center;
}
#Main-Footer-ul a{
    /* make links fit evenly within div  */
    font-size: small;
    display: block;
    padding: 0.25em 0.5em;
    color: black;
    text-decoration: none;
    text-align: center;
}
#Main-Footer-ul a:hover {
    color: #126bc5;
  }
@media (max-width: 364px){
    #Main-Footer-ul a{
        font-weight: 50;
        padding-top: 0.25em;
        padding-left: 0.1em;
        padding-right: 0.1em;
    }
}
#Main-Footer-Copyright{
    padding-top: 3vh;
    color: grey;
    text-align: center;
    margin-bottom: 0px;
    padding-bottom: 0%;
    

}
@media (max-width: 364px){
    #Main-Footer-Copyright{
        padding-top: 4vh;
        font-size: 0.9rem;
       
    }
}
